@keyframes BlockRender {
  0% {
    top: -200px;
    opacity: 0;
  }
  100% {
    top: 20px;
    opacity: 1;
  }
}

.container {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #ddd2;
  padding: 20px;
  overflow: hidden;
}
.block {
  animation: BlockRender 0.5s ease-out forwards;
  position: absolute;
  padding: 5px ;
  width: 30vw;
  background-color: #333;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);

  & > div {
    padding: 10px 5px;
    border-radius: 15px;
    color: #222222;
    font-size: 20px;

    & > a {
      color: #33f;
    }
  }
}

